.project {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.projectHeader {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: var(--spacing-md);
  flex-wrap: wrap;
}

.projectTitleGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.projectTitle {
  font-size: var(--title);
}

.projectSubtitle {
  font-size: var(--subtext);
  color: var(--muted_text);
}
