.appHeader {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.openSidebarButton {
  display: none;
}

.searchForm {
  display: flex;
  gap: var(--spacing-sm);
  border-radius: 999px;
  background-color: var(--cards);
  padding: 6px 12px;
}

.searchInput {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: var(--label);
  color: var(--main_text);
}

.headerControls {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.headerActions {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.userAvatar {
  border-radius: 50%;
  overflow: hidden;
  width: 1.5rem;
  aspect-ratio: 1 / 1;
}

@media (max-width: 768px) {
  .searchInput {
    width: 60px;
  }

  .openSidebarButton {
    display: flex;
  }
}
