.sidebar {
  background-color: var(--cards);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
}

.sidebarTop {
  display: flex;
  flex-direction: column;
}

.sidebarBottom {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.brand {
  font-weight: 600;
  font-size: 20px;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  margin: 1.75rem 0;
}

.navLink {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  font-size: var(--subtext);
  cursor: pointer;
}

.navLink:hover {
  color: var(--primary);
}

.navLinkActive {
  color: var(--primary);
  border-right: 2px solid var(--primary);
}

.createTaskButton {
  padding: 0.5rem;
  width: 100%;
  border-radius: var(--radius);
  text-transform: uppercase;
  background-color: var(--primary);
  font-size: var(--label);
}

.createTaskLink {
  display: flex;
  justify-content: center;
  gap: var(--spacing-sm);
}

.userPanel {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  font-size: var(--label);
}

.userAvatar {
  flex: 0 0 auto;
  border-radius: 50%;
  border: 1px solid var(--main_text);
  overflow: hidden;
  width: 2rem;
  aspect-ratio: 1 / 1;
}

.userName {
  font-weight: 600;
}

.userRole {
  color: var(--subtext);
}